SAVE_MODEL = false
CUDA_GRADIENT = true
MAX_ITERS = 2000000
EVAL_INTERVAL = 10
EVAL_BATCH_COUNT = 1

DROP_CONFIG = 'drop1'

# perf config
TRAIN_CONFIG = 'b24f1024'
#MODEL_DIMS = 'e1792h14d48ffn21w1024'
MODEL_DIMS = 'e2048h16d12moes6moe96w1024
create_model()
train()
