# fineweb model train, https://github.com/karpathy/llm.c/discussions/677

SAVE_MODEL = true

# large batches
MAX_ITERS = 30000
EVAL_INTERVAL = 1000
TRAIN_CONFIG = 'b1024f1024'

# eval params
EVAL_BATCH_COUNT = 1
# PRINT_ITER_TRAIN_ERR = true

# learn rate
DROP_CONFIG = 'drop1lr0.01tail25slow200'

MODEL_DIMS = 'e1792h14d48ffn21w1024'

create_model()
#create_model(MPF_ABS_POSITIONS)
#load_checkpoint(10000)
train()
