SAVE_MODEL = false

MAX_ITERS = 2000000
EVAL_INTERVAL = 1000
EVAL_BATCH_COUNT = 20

# batch, window, sliding window
#TRAIN_CONFIG = 'b64f64'
TRAIN_CONFIG = 'b256f64'
#TRAIN_CONFIG = 'b4f4096'

# dropout, learning rate
DROP_CONFIG = 'drop0.6'

# model width, depth
#MODEL_DIMS = 'e256d1'
MODEL_DIMS = 'e256h2ffn2d48'

create_model(MPF_TAIL_LOSS)
#create_model(MPF_TAIL_LOSS, MPF_ABS_POSITIONS)

#load_checkpoint(150000)
train()
#net_train('workers_local.txt')
#ib_train('workers.txt')
#compute_exact_test(75000,5000)
