# USE_LMATCH = true
# make_byte_tokenizer()
load_tokenizer('D:\tokenizers\golf\greedy_tokenizer.bin')
load_indexed_docset_folder('D:/text/golf/0/')
load_indexed_docset_folder('D:/text/golf/1/')
load_indexed_docset_folder('D:/text/golf/2/')
load_indexed_docset_folder('D:/text/golf/3/')
set_lmatch_index_folder('d:/lmatch/golf')

