# make_byte_tokenizer()
load_tokenizer('D:\tokenizers\golf\greedy_tokenizer.bin')

TEST_FRACTION = 1
index_docset_folder('D:/text/golf/0/')

TEST_FRACTION = 0
index_docset_folder('D:/text/golf/1/')
index_docset_folder('D:/text/golf/2/')
index_docset_folder('D:/text/golf/3/')
