# CUDA_GRADIENT = true # faster, incompatible with quantization
MAX_ITERS = 20000
EVAL_INTERVAL = 1000
EVAL_BATCH_COUNT = 20

TRAIN_CONFIG = 'b4f2048'
DROP_CONFIG = 'drop1tail5lr0.02'

# MODEL_DIMS = 'e640h3d42ffn6w2048'" # 1 bit
# MODEL_DIMS = 'e384h3d36ffn6w2048'" # 2 bit
# MODEL_DIMS = 'e256h2d40ffn4w2048' # 4 bit
# MODEL_DIMS = 'e512h3d8ffn4w2048'
# MODEL_DIMS = 'e384h3d12ffn3w2048'
# MODEL_DIMS = 'e256h2d28ffn2w2048'
# MODEL_DIMS = 'e256h2d24ffn2w2048' # final
# MODEL_DIMS = 'e256h2d38ffn4w2048' # final 4bit
MODEL_DIMS = 'e384h3d32ffn6w2048' # final 2bit

# create_model()
create_model(MPF_SIM_QUANT_2BIT)

train()
